body {
    font-family: 'Muli', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Muli', sans-serif;
    font-size: 0.85em;
    font-weight: 400;
    line-height: 12px;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 10px 10px;
    background: rgb(255, 255, 255) !important;
    border: none;
    border-radius: 0;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.inner {
    font-size: 22px;
    padding-left: 20px;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgb(10, 0, 58);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header #full,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header #shorthand {
    display: block;

    /* creates the circle around the shorthand text */
    height: 50px;
    width: 50px;
    line-height: 51px;
    text-align: center;
    background: #fff;
    color: rgb(10, 0, 58);
    -moz-border-radius: 25px; /* or 50% */
    border-radius: 25px; /* or 50% */
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 14px;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding-top: 20px;
    padding-left: 15px;
    background: rgb(10, 0, 58);
}

#sidebar .sidebar-header #shorthand {
    display: none;
    font-size: 30px;
}

#sidebar .sidebar-footer {
    position: fixed;
    left: 0;
    bottom: 25px;
    width: 80px;
    text-align: center;
    background: rgb(10, 0, 58);
}

.footer-btn {
    color: #fcbebe;
    font-size: 36px;
    background: rgb(10, 0, 58);
}
.footer-btn:hover {
    color: #fff;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    display: block;
    color: #fcbebe;
    font-family: Muli, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#sidebar ul li a span {
    padding-left: 10px;
}

#sidebar ul li a:hover {
    color: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 14px !important;
    padding-left: 30px !important;
    background: rgb(5, 0, 31);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    background: #a9a8b6;
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}

.nav-i-btn {
    width: 40px;
    height: 40px;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.nav-i-btn span {
    margin: 0 auto;
    display: block;
    background: rgb(255, 255, 255);
}

.nav-i-btn span:hover {
    color: #2e2e2e;
}

.nav-i-btn.active span {
    opacity: 1;
    color: #fff;
    margin: 5px auto;
}

.profile {
    color: #957777;
}

.ds-btn {
    width: 85%;
    margin: 2px;
    text-align: left;
    position: relative;
    right: 0;
}

.content-row {
    display: flex;
}

.slide-panel {
    margin: 0px 5px;
    color: rgb(0, 5, 78);
    background: rgb(241, 236, 255);
    width: 150px;
    top: 0;
    flex: 0;
    padding: 0;
    overflow-y: auto;
    z-index: 1000;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}

.reveal {
    flex: .25;
}

#plot-pane {
    flex: 1;
    padding: 0px 0px;
}

#plot-pane img {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header #full,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header #shorthand {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}